<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#"><img src="/img/logo.png" alt="Logo"></a>

        <input type="text">

        <nav>
            <li><a href="/">Inicio</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/Anuncios">Anuncios</a></li>
            <li><a href="/Contacto">Contacto</a></li>
        </nav>

        <h1>A un CLIC de tu hogar </h1>
        

    </header>    

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>